<div class="bg">
  <div class="parent">
    <div class="child">
      <div class="imgDiv text-center">
        <h1>Sign Up</h1>
      </div>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" id="signupForm" novalidate>
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="E-mail" required>
          <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="invalid-feedback">
            The input is not a valid E-mail.
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password" required>
          <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="invalid-feedback">
            Password should contain 8 characters, 1 lowercase, 1 uppercase, 1 number, and a special character.
          </div>
        </div>
        <div class="form-group">
          <label for="checkPassword">Confirm Password</label>
          <input type="password" class="form-control" id="checkPassword" formControlName="checkPassword" placeholder="Confirm Password" required>
          <div *ngIf="signupForm.get('checkPassword')?.invalid && signupForm.get('checkPassword')?.touched" class="invalid-feedback">
            Please confirm your Password.
          </div>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name" required>
          <div *ngIf="signupForm.get('name')?.invalid && signupForm.get('name')?.touched" class="invalid-feedback">
            Please input your name!
          </div>
        </div>
        <button type="submit" class="btn btn-primary login-form-margin mt-3" [disabled]="signupForm.invalid">Register</button>
        or <a href="/login">login Now!</a>
      </form>
    </div>
  </div>
</div>
